body, html {
    height: 100%;   
}

body {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .left-column {
    width: 25%;
    margin: 20px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .right-column {
    width: 70%;
    margin: 20px;
    background-color: slategrey;
    display: flex;
    flex-direction: column;
  }

  .container {
    height: 100%;
    border: 1px solid black;
    margin: 10px;
  }

 .top-right {
    height: 25%;
    margin: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: lightsalmon;
 }
 
 .bottom-right {
    height: 70%;
    margin: 25px;
    margin-top: 10px;
    background-color: lightgreen;
 }

 .display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    height: 10%;
    width: 25%;
    padding: 30px;
    border: 2px, solid, black; /* this border will just not work idk; something about collapsed borders maybe*/
 }

 .click {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    margin: 20px;
    background-color: lightseagreen;
 }
/* button {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 50px;
    width: 50px;
    background-color: lightsteelblue;
    border: 1px solid white;
} */

.adder-purchase-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adder-purchase-container button {
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
}