body, html {
    height: 100%;   
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(https://t3.ftcdn.net/jpg/06/19/32/58/240_F_619325893_bzogRG6UW3jzZzs9zQgYJIS2mgWZT9k8.jpg); /*cat background image*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .left-column {
    width: 25%;
    margin: 20px;
    background-color: slategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
  }

  .right-column {
    width: 70%;
    margin: 20px;
    background-color: slategrey;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
  }

  .container {
    height: 100%;
    border: 1px solid black;
    margin: 10px;
  }

 /* .top-right {
    height: 25%;
    margin: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: lightsalmon;
    border-radius: 30px;
    background-image: url(https://www.shutterstock.com/image-vector/brick-wall-seamless-texture-ancient-600nw-2005985150.jpg);
    background-size: 210px;
 } */
 
 .bottom-right {
    height: 70%;
    margin: 25px;
    margin-top: 10px;
    background-color: lightcyan;
    overflow-y: scroll;
    border-radius: 30px;
 }

 .display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    height: 10%;
    width: 25%;
    padding: 30px;
    border: 2px, solid, black; /* this border will just not work idk; something about collapsed borders maybe*/
    border-radius: 20px;
 }

 .click {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 100px;
    background-color: lightblue;
    
 }
/* button {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 50px;
    width: 50px;
    background-color: lightsteelblue;
    border: 1px solid white;
} */

.adder-purchase-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adder-purchase-column h1 {
    font-size: 50px;
    margin: 10px;
}

.adder-purchase-container button {
    width: 90%;
    justify-content: center;
    height: 10%;
    margin-left: 40px;
    min-height: 60px;
    margin-bottom: 10px;
    font-size: 30px;
}

.upgrade-purchase-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin: 10px;
}

.upgrade-purchase-section button {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
}

.adder-purchase-button {
    border-radius: 30px;
}

.toggle-button {
    display: none;
    height: 25%;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-top: 20px;
    background-color: mediumseagreen;
    border-radius: 30px;
}

.toggleCont {
    justify-content: center;
    align-items: center;
    display: none;
    height: 50%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 80px;
    margin-top: 20px;
    background-color: lightsteelblue;
    border-radius: 30px;
}

.active-container {
    display:block;
}

.active-button {
    display: block;
}

.hidden {
    display: none;
}


